body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    background-color: aliceblue
}

/* side bar */

.side-bar {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.background-image {
    width: 45%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-image {
    background-color: transparent;
    width: 50px;
    height: auto;
}

.logo {
    width: 100%;
    background-color: lightblue;
    opacity: 70%;
    position: relative;
    top: 200px;
    text-align: center;
}


/* main content */

.main-content {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100vh;
}

.website-description {
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
}

form {
    background-color: lightblue;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}


fieldset {
    display: flex;
    flex-direction: row;
    border: none;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

fieldset p {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    gap: 5px;
}

.button {
    display: flex;
    justify-content: center;
}

#submit-btn {
    font-size: 1em;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
}

#submit-btn:hover {
    background-color: green;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 10px black;
    transition: 0.15s;
}

.submit-section {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}